html, body {
  margin: 0;
  padding: 0;
  background-color: #d47d58;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}

canvas {
  display: block;
  margin: auto;
  background-color: #d47d58;
  image-rendering: pixelated;
  width: 100vw;
  height: 100vh;
}
